@using AlAfkarERP.Shared.Pages.Reuable2
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

@inject SharedDataService SharedDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@* @Body *@
<div class="d-flex vh-100">

    <!-- Sidebar -->
    <AuthManagementSidebar />

    <!-- Main Area -->
    <div class="flex-grow-1 d-flex flex-column">

        <!-- Top Navbar -->
        <AuthManagementTopNavbar />

        <!-- Page Content -->
        <main class="flex-grow-1 p-3 overflow-auto bg-light" dir="@SharedDataService.PageDirection">
            @Body
        </main>


        <AppModal />
        <AppToast />
        <AppLoader />


    </div>

</div>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{
    private AuthenticationState AuthState;
    protected override async Task OnInitializedAsync()
    {

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AuthState = await((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
            if (!AuthState.User.Identity.IsAuthenticated)
            {
                NavigationManager.NavigateTo("login");
            }
            // NavigationManager.NavigateTo("/login");
        }
    }
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}