@* @layout NewLayout *@

@layout AuthNewLayout
@page "/login"

@using AlAfkarERP.Shared.Pages.Features.Auth.Layout
@using AlAfkarERP.Shared.Dtos.Auth
@using AlAfkarERP.Shared.Pages.Features.Auth.Services
@using AlAfkarERP.Shared.Pages.Reuable2
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.IdentityModel.JsonWebTokens
@using SharedWithUI.Auth.Dtos
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAuthService AuthService

@inject ModalService ModalService
@inject LoadingService LoadingService

@inject NavigationManager NavigationManager
@inject SharedDataService SharedDataService

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg border-0 w-100" style="max-width: 600px;">

        <!-- Card Header -->
        <div class="card-header bg-primary text-white text-center">
            <h3 class="mb-0">Login to Your Account</h3>
        </div>

        <!-- Card Body -->
        <div class="card-body p-4 bg-light rounded-bottom">
            <EditForm Model="@login" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <label for="userName" class="form-label">User name</label>
                    <InputText id="userName" class="form-control" @bind-Value="login.Email" placeholder="Enter email" />
                    <ValidationMessage For="@(() => login.Email)" />
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <InputText id="password" type="password" class="form-control" @bind-Value="login.Password" placeholder="Password" />
                    <ValidationMessage For="@(() => login.Password)" />
                </div>

                @* <div class="mb-3 form-check">
                    <InputCheckbox id="rememberMe" class="form-check-input" @bind-Value="rememberMe" />
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div> *@

                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

                <div class="text-center mb-2">
                    <a href="/User/ForgetPassword" class="text-decoration-none">Forgot your password?</a>
                </div>

                <div class="text-center">
                    <span>Don’t have an account?</span>
                    <a href="/Register" class="text-decoration-none ms-1">Create one</a>
                </div>
            </EditForm>
        </div>
    </div>
</div>



@* <button class="btn btn-primary" @onclick="Login">Login</button> *@
@code {

    private LoginDto login = new LoginDto();
    protected override void OnInitialized()
    {
        // login.Email = "baryce@gmail.com";
        // login.Password = "Admin@123";
        SharedDataService.OnChange1 += HandleChangeAsync;
    }
    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
    private async Task HandleLogin()
    {
        LoadingService.Show();

        var result = await AuthService.LoginAsync(login.Email, login.Password);
        if (result.IsSuccess)
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

            if (authState.User.Identity!.IsAuthenticated)
            {
                    LoadingService.Hide();
                if (authState.User.Claims.Any(c => c.Type == JwtRegisteredClaimNames.Typ && c.Value == UserType.SystemUser.ToString()))
                {
                    NavigationManager.NavigateTo("/Dashboard", true);
                    return;
                }
                NavigationManager.NavigateTo("/");
            }
            // var user = authState.User;
            // Console.WriteLine($"User is authenticated: {user.Identity.IsAuthenticated}");
            // Console.WriteLine($"User name: {user.Identity.Name}");
        }
        else
        {
        LoadingService.Hide();
            await ModalService.ShowAsync(
                new ModalOptions
                {
                    IsError = true,
                    Title = SharedDataService.SelectViewLang("Login", "تسجيل دخول"),
                    Message = SharedDataService.SelectViewLang("Credentials are incorrect."
                                    , "بيانات الدخول غير صحيحة."),
                    Details = SharedDataService.SelectViewLang("Please reenter credentials and try again"
                                    , "يرجى إعادة ادخال البيانات والمحاولة مرة أخرى"),
                    OkText = SharedDataService.SelectViewLang("OK", "موافق"),
                    OnOk = async () => { },
                }
            );
            // Console.WriteLine("Login failed");
        }
    }

}
