################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ALAFKARHR/.vs/ALAFKARHR.slnx
/ALAFKARHR/.vs/ALAFKARHR/CopilotIndices/18.4.114.215
/ALAFKARHR/src/Bootstraper/Api/obj/Debug/net10.0/Api.AssemblyInfo.cs
/ALAFKARHR/src/Bootstraper/Api/obj/Debug/net10.0/Api.AssemblyInfoInputs.cache
/ALAFKARHR/UI/AlAfkarERP/AlAfkarERP.Shared/bin/Debug/net10.0
/ALAFKARHR/UI/AlAfkarERP/AlAfkarERP.Shared/obj
/ALAFKARHR/UI/AlAfkarERP/AlAfkarERP.Web/bin/Debug/net10.0
/ALAFKARHR/UI/AlAfkarERP/AlAfkarERP.Web/obj
