@layout AuthManagementLayout
@page "/Auth/Role/Form"
@using AlAfkarERP.Shared.Pages.Features.Auth.Layout
@using AlAfkarERP.Shared.Pages.Features.Auth.Services

@inject IAuthService AuthService

@using AlAfkarERP.Shared.Pages.Features.Auth.Layout
@using AlAfkarERP.Shared.Pages.Features.Auth.Services
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Permissions
@inject SharedDataService SharedDataService;
@inject IAuthService AuthService
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (AuthState != null && !AuthState.User.Claims.Any(c => c.Value == PermissionList.RolesPermissions.Create))
{
    <div class="alert alert-warning">
        <span>@SharedDataService.SelectViewLang("You don't have permissions to view this page.", "ليس لديك الصلاحيات لعرض هذه الصفحة")</span>
    </div>
    return;

}

<h3>@SharedDataService.SelectViewLang("Roles Management", "إدارة الصلاحيات")</h3>

@foreach (var group in PermissionList.GetGroupedPermissions(PermissionList.GetAll()))
{
    <div class="card mb-3" dir="ltr">
        <div class="card-header">
            <div class="row">
                <div class="col-3">
                    Group: @group.Group
                </div>
                <div class="col-9"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-3 fw-bold">
                </div>

                <div class="col-9">
                    @foreach (var entity in group.Entities)
                    {
                        <div class="row mb-2">
                            <div class="col-3">
                                @entity.Entity
                            </div>

                            <div class="col-9">
                                @foreach (var action in entity.Actions)
                                {
                                    var permission = $"{group.Group}.{entity.Entity}.{action}";

                                    <label class="mx-2">
                                        <InputCheckbox @bind-Value="SelectedPermissions[permission]"
                                                       @onclick="() => { SelectedPermissions[permission] = !SelectedPermissions[permission]; }" />
                                        @action
                                    </label>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}


@code {
    private AuthenticationState AuthState;
    private bool isChecked = false;
    private List<string> Roles = [];
    private Dictionary<string, bool> SelectedPermissions = new();
    protected override async Task OnInitializedAsync()
    {
        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        foreach (var p in PermissionList.GetAll())
        {
            SelectedPermissions[p] = false;
        }
        // var cl = PermissionList.GetAll();
        // var res = AuthState.User.Claims.Any(c => c.Value == PermissionList.RolesPermissions.View);

    }
    public void CheckedBoxChanged(ChangeEventArgs e)
    {
        var eee = e.Value;
        // if ()
        // {
            
        // }
    }
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}
