@layout AuthManagementLayout
@page "/Auth/Role/Form"
@page "/Auth/Role/Form/{RoleName}"
@using AlAfkarERP.Shared.Pages.Features.Auth.Layout
@using AlAfkarERP.Shared.Pages.Features.Auth.Services

@inject IAuthService AuthService

@using AlAfkarERP.Shared.Pages.Features.Auth.Layout
@using AlAfkarERP.Shared.Pages.Features.Auth.Services
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Permissions
@inject SharedDataService SharedDataService;
@inject IRoleService RoleService
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (AuthState != null && !AuthState.User.Claims.Any(c => c.Value == PermissionList.RolesPermissions.Create))
{
    <div class="alert alert-warning">
        <span>@SharedDataService.SelectViewLang("You don't have permissions to view this page.", "ليس لديك الصلاحيات لعرض هذه الصفحة")</span>
    </div>
    return;

}

<h3>@SharedDataService.SelectViewLang("Roles Management", "إدارة الصلاحيات")</h3>

@foreach (var group in PermissionList.GetGroupedPermissions(PermissionList.GetAll()))
{
    <div class="card mb-3" dir="ltr">
        <div class="card-header">
            <div class="row">
                <div class="col-3">
                    Group: @group.Group
                </div>
                <div class="col-9"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-3 fw-bold">
                </div>

                <div class="col-9">
                    @foreach (var entity in group.Entities)
                    {
                        <div class="row mb-2">
                            <div class="col-3">
                                @entity.Entity
                            </div>
                            @if (SelectedPermissions.Any())
                            {
                                
                                <div class="col-9">
                                    @foreach (var action in entity.Actions)
                                    {
                                        var permission = $"{group.Group}.{entity.Entity}.{action}";

                                        <label class="mx-2">
                                            <InputCheckbox @bind-Value="SelectedPermissions[permission]"
                                            @onclick="()=>OnCheckBoxClicked(permission)" />
                                            @action
                                        </label>
                                                           @* @onclick="() => { SelectedPermissions[permission] = !SelectedPermissions[permission]; }" /> *@
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public string? RoleName { get; set; }
    private AuthenticationState AuthState;
    private bool isChecked = false;
    private List<string> Roles = [];
    private Dictionary<string, bool> SelectedPermissions = new();
    // private List<string> CurrentRolePermissions = [];
    protected override async Task OnInitializedAsync()
    {
        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();

        // if (string.IsNullOrWhiteSpace(RoleName))
        // {
        // return;
        // }
        var roleRes = await RoleService.GetByName(RoleName);
        if (roleRes.IsSuccess)
        {
            var role = roleRes.Data;
            // CurrentRolePermissions = new List<string>();
            // CurrentRolePermissions.AddRange(roleRes.Data.Permissions);
            foreach (var p in PermissionList.GetAll())
            {
                SelectedPermissions[p] = false;
                SelectedPermissions[p] = role.Permissions.Any(r => r == p);
            }
        }
        else
        {
            foreach (var p in PermissionList.GetAll())
            {
                SelectedPermissions[p] = false;
            }
            
        }

        // var cl = PermissionList.GetAll();
        // var res = AuthState.User.Claims.Any(c => c.Value == PermissionList.RolesPermissions.View);

    }
    private void OnCheckBoxClicked(string policy)
    {
        SelectedPermissions[policy] = !SelectedPermissions[policy];

        // saveIt to db


        // if ()
        // {
            
        // }
    }
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}
