@layout AdminLayout
@page "/Auth/Role/List"
@* @using AlAfkarERP.Shared.Pages.Features.Auth.Layout *@
@using AlAfkarERP.Shared.Pages.Features.Auth.Services
@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using SharedWithUI.Auth.Dtos
@using SharedWithUI.Permissions
@inject SharedDataService SharedDataService;
@inject IRoleService RoleService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


@if (AuthState != null && !AuthState.User.Claims.Any(c => c.Value == PermissionList.RolesPermissions.View))
{
    <div class="alert alert-warning">
        <span>@SharedDataService.SelectViewLang("You don't have permissions to view this page.", "ليس لديك الصلاحيات لعرض هذه الصفحة")</span>
    </div>
    return;

}

<div class="text-black">

    <h3>@SharedDataService.SelectViewLang("Roles Management", "إدارة الصلاحيات")</h3>
    <a class="btn btn-primary mb-3" href="/Auth/Role/Form">Create new</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>@SharedDataService.SelectViewLang("Role", "الصلاحية")</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in roles)
            {
                <tr>
                    <td>@role.RoleName</td>
                    <td>
                        <button @onclick='() => { NavigationManager.NavigateTo($"/Auth/Role/Form/{role.RoleName}"); }' class="btn btn-warning">Edit</button>
                        @* <button @onclick='() => { NavigationManager.NavigateTo($"/Auth/Role/AddUser/{role.RoleName}"); }' class="btn btn-warning">Add User</button> *@
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@foreach (var group in PermissionList.GetGroupedPermissions(PermissionList.GetAll()))
{
    
}


@code {
    private AuthenticationState AuthState;
    private List<RoleDto> roles = [];
    protected override async Task OnInitializedAsync()
    {
        AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        // Guid companyId =
        Guid.TryParse(AuthState.User?.Claims?.FirstOrDefault(c => c.Type == "company_id")?.Value, out Guid companyId);
        var roleRes = await RoleService.GetRoles(companyId, 0, 1000);
        if (roleRes.IsSuccess)
        {
            roles = roleRes.Data?.ToList() ?? [];
        }
    }
    public void CheckedBoxChanged(ChangeEventArgs e)
    {
        var eee = e.Value;
        // if ()
        // {
            
        // }
    }
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}
