@using AlAfkarERP.Shared.Utilities
@inherits LayoutComponentBase

@inject SharedDataService SharedDataService

<div class="d-flex vh-100 justify-content-center align-items-center bg-light">

    <div class="card shadow-sm p-4" style="width: 350px;">
        @Body
    </div>

</div>

@code{
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}