@using AlAfkarERP.Shared.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.IdentityModel.JsonWebTokens
@using SharedWithUI.Auth.Dtos


@inject SharedDataService SharedDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            @* <div class="d-flex align-content-between"> *@
            @* <span class="material-symbols-outlined text-primary me-3 cursor-pointer" style="font-size: 24px;">menu</span> *@
            @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> *@
            <a class="brand-text h4 mb-0" href="/">
                <img src="_content/AlAfkarERP.Shared/images/logo/afkarfavicon.ico" width="48"/>
                ALAFKAR</a>
        </div>

        @* <button @onclick='()=>NavigationManager.NavigateTo("/login")' class="btn btn-gold-outline">Login</button> *@
        <a href="/login" class="gold-gradient-text">Login</a>
    </div>
</nav>


@code {
    private AuthenticationState AuthState;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AuthState = await ((CustomAuthStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
            // if (!AuthState.User.Identity.IsAuthenticated)
            // {
            //     NavigationManager.NavigateTo("login");
            // }
            // NavigationManager.NavigateTo("/login");
            await InvokeAsync(StateHasChanged);
        }
    }
    protected override void OnInitialized()
    {
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }

    public void OnLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}