@using AlAfkarERP.Shared.Utilities

@inject SharedDataService SharedDataService
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ALAFKAR</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GeneralSettingsDashBoard">
                <span class="bi nav-icon-generalsettings" aria-hidden="true"></span>
                @(SharedDataService.Language == "Ar" ? "الإعدادات العامة" : "General Settings")
            </NavLink>
        </div>

        @* <NavLink class="nav-link" href="">
            <span class="nav-icon nav-icon-dashboard"></span>
            Dashboard
        </NavLink> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Inventory/Dashboard">
                <span class="nav-icon nav-icon-inventory"></span>
                Inventory Management
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="nav-icon nav-icon-orders"></span>
                Orders
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="nav-icon nav-icon-users"></span>
                Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="nav-icon nav-icon-reports"></span>
                Reports
            </NavLink>
        </div>
    </nav>
</div>

