@using AlAfkarERP.Shared.Utilities
@inject SharedDataService SharedDataService
@inject NavigationManager NavigationManager
@* <div class="bg-dark text-white d-flex flex-column p-2" style="width: 250px;"> *@
<div class="sidebar bg-dark text-white d-flex flex-column p-2 @(IsOpen ? "open" : "")">
    <!-- Logo -->
    <div class="text-center mb-3">
        <h5 class="fw-bold">ERP System</h5>
    </div>

    <!-- Menu -->
    @* <ul class="nav flex-column">
        @if (Menu.Any())
        {
            @foreach (var item in Menu)
            {
                <SidebarItem Item="item" />
            }
        }
    </ul> *@
    <ul class="nav flex-column">
        @foreach (var item in MenuItem.Menu)
        {
            <SidebarItem Item="item" Siblings="MenuItem.Menu" />
        }
    </ul>
</div>
<style>
    .nav-link {
        cursor: pointer;
    }

    .nav .nav {
        border-left: 1px solid rgba(255,255,255,0.1);
        margin-left: 10px;
        padding-left: 10px;
    }

    .nav-link.active {
        background-color: #0d6efd !important;
        color: white !important;
    }

    .nav .nav {
        border-left: 1px solid rgba(255,255,255,0.1);
        margin-left: 8px;
        padding-left: 10px;
    }
</style>



@code {
    [Parameter] public bool IsOpen { get; set; }
    List<MenuItem> Menu = [];
    protected override void OnInitialized()
    {
        Menu = MenuItem.Menu;
        SharedDataService.OnChange1 += HandleChangeAsync;
    }

    private async Task HandleChangeAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SharedDataService.OnChange1 -= HandleChangeAsync;
    }
}